<mat-form-field>
  <input matInput
         (keyup)="applyFilter($event.target.value)"
         placeholder="Filter">
</mat-form-field>

<app-spinner *ngIf="isLoading"></app-spinner>
<div class="mat-elevation-z8">

  <mat-table #table
             [dataSource]="dataSource"
             matSort>
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index;">{{ i+1 }}.</mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.first_name +' '+ element.last_name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="languages">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header> Languages </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list>
          <mat-list-item *ngFor="let language of element.languages">
            {{ language.long_name }}
          </mat-list-item>
        </mat-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="certifications">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header> Certifications </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list>
          <mat-list-item *ngFor="let certification of element.certifications">
            {{ certification.name }}
          </mat-list-item>
        </mat-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="projects">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header> Projects </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list>
          <mat-list-item *ngFor="let project of element.projects">
            {{ project.name }}
          </mat-list-item>
        </mat-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="technologies">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header> Technologies </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list>
          <mat-list-item *ngFor="let technology of element.technologies">
            {{ technology.name }}
          </mat-list-item>
        </mat-list>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-icon-button
           routerLink="/employees/{{element.id}}"
           routerLinkActive="active"
           color="secondary">
          <mat-icon aria-label="View">pageview</mat-icon>
        </a>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="10"></mat-paginator>
</div>