<div fxFlex.xs="90"
     fxFlex="80"
     fxFlex.gt-sm="60"
     class="main">

  <app-user-general fxFlex="100"></app-user-general>

  <app-user-languages fxFlex="100"></app-user-languages>

  <app-user-devices></app-user-devices>
  <br>
  <app-user-holidays></app-user-holidays>
  <br>
  <app-user-schedule></app-user-schedule>
  <br>
  <app-user-projects></app-user-projects>
  <br>
  <app-user-technologies></app-user-technologies>
  <br>
  <app-user-education></app-user-education>
  <br>
  <!-- <app-user-courses-certifications></app-user-courses-certifications> -->
  <br>
</div>