<nav fxLayout="row"
     fxLayoutGap="20px"
     *ngIf="displayNavbar$ | async"
     class="navigation__bar">

  <a mat-raised-button
     routerLink="/employees"
     routerLinkActive="active"
     color="primary">employees-list</a>

  <a mat-stroked-button
     routerLink="/employees/33"
     routerLinkActive="active"
     color="primary">Example Daniel</a>

  <a mat-raised-button
     routerLink="/projects"
     routerLinkActive="active"
     color="primary">Projects-list</a>
  <a mat-raised-button
     routerLink="/holidays"
     routerLinkActive="active"
     color="primary">Holidays-list</a>

  <a mat-button
     [matMenuTriggerFor]="employee">Example Menu</a>
  <mat-menu #employee="matMenu">

    <a mat-menu-item>Item 1</a>
    <a mat-menu-item>Item 2</a>
  </mat-menu>

</nav>